
.App {
    background-image: url("../public/background-image.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

.page{
    display: flex;
    justify-content: center;
}

.auth-form {
    background-color: white;
    border: 4px solid saddlebrown;
    border-radius: 20px;
    padding: 0% 10% 5% 10%;
}

.no-underline {
    text-decoration: none !important;
    cursor: pointer !important;
}


